.background{
    height: 150px;
    background-color: lightgrey;
    font-size: x-large;
    color: grey;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 90%;
    margin: 0 auto

}
.container-card{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.display{
    display: flex;
}
.input{
    margin-top: 20px;
    display: flex;
    padding: 13px;
    align-items: flex-end;
    justify-content: center;
}
.border{
    width: 3em;
    border-radius: 50%;
}
.row{
    display: flex;
    align-items: center;
}
.padding{
    padding-right: 30px;
}
.color{
    color: grey;
}
.display-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.float{
    float: right;
}
.btn-color{
    background-color: rgb(255, 166, 0);
    color: black;
}
.color-background{
    background-color: rgba(25, 202, 18, 0.671);
}
.center{
    text-align: center;
}